<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_DIR" value="logs/app" />
    <property name="DEF_MODULE" value="${LOG_DIR}.log" />
    <appender name="FILE" class="ch.qos.logback.classic.sift.SiftingAppender">

        <discriminator>
            <key>module</key>
            <defaultValue>${DEF_MODULE}</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_DIR}/${module}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- daily rollover -->
                    <fileNamePattern>${LOG_DIR}/archived/app.%d{yyyy-MM-dd}.gz</fileNamePattern>
                    <maxFileSize>10MB</maxFileSize>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>3GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>%-4relative %d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>




     <logger name="com.ak.algo.intmult.impl" level="debug">
        <appender-ref ref="FILE" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
